<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Universal Redux Boilerplate</title>
  <%# Stylesheets from `webpack-stats.json` %>
  <% assets.style.forEach(function (style) { %>
    <link rel='stylesheet' href='<%= style %>' />
  <% }); %>
</head>
<%# React App output %>
<body class='day-mode'>
  <div class='top-box' id='content'><%- body %></div>

  <script>window.__state = <%- state %>;</script>
  <script async defer src='http://10.2.5.91/mermaid.min.js'></script>
  <script async defer src='<%- assets.script[0] %>'></script>
</body>
</html>
