
.react-bs-table {
  border: 0px;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
}

.treeview .list-group-item {
  cursor: pointer;
}

.treeview span {
  width: 1rem;
  height: 1rem;
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px;
}

.treeview span.icon {
  margin-left: 10px;
  margin-right: 5px;
}

.treeview-div {
  position: relative;
  top: 60px; 
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 90%;
}

.modal-content .ralign {
  margin-right: 20px;
  color: red;
}

.sidebar-header {
  position: absolute; 
  top: 0px; 
  padding-left: 30px;
}

.create-btn {
  margin: 10px 20px 5px 0px;
}

.div-default-set {
  display: inline-block;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
}

.default-set {
  display: inline-block;
  margin-top: 5px;
  padding-left: 5px;
}

.editable-field .edit-icon {
  opacity: 0 !important;
  margin-left: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
}

.edit-icon-zone {
  background-color: #ccc;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-bottom: '8px';
  width: 25px;
}

.editable-field:hover {
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 2px;
}

.editable-field:hover .edit-icon{
  opacity: 1 !important;
  cursor: pointer;
}

.editable-list-field .edit-icon {
  opacity: 0 !important;
  margin-left: 5px;
  border-left-style: solid;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
}

.editable-list-field:hover {
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 2px;
  background-color: #fff;
}

.editable-list-field:hover .edit-icon {
  opacity: 1 !important;
  cursor: pointer;
}

.edit-field-content {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.edit-ok-button {
  border-radius: 2px;
}

.loading {
  width: 24px;
  height: 24px;
  margin: 5px 5px 5px 10px;
}

.small-loading {
  width: 14px;
  height: 14px;
  margin: 5px 5px 5px 10px;
}

.hide {
  display: none
}

.tr-middle {}
.tr-top {}

.react-bs-container-body table tr.tr-middle td {
  height: 55px;
  vertical-align: middle;
  overflow: visible
}

.react-bs-container-body table tr.tr-top td {
  height: 55px;
  vertical-align: top;
  overflow: visible
}

.react-bs-container-body {
  height: 154px;
  overflow: visible;
  width: 100%;
}

.Select-control .Select-value {
  float: left;
}

.table-td-title, .table-td-issue-title {
  display: block;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.table-header:hover { cursor: pointer }

.table-td-issue-title:hover { color: #3b73af; cursor: pointer }

.table-td-desc {
  display: block;
  font-size: 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.table-td-issue-desc {
  display: block;
  color: #999;
  margin-top: 5px;
  font-size: 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.table-td-title-nobold {
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.rc-tabs-content {
  position: relative;
  overflow: visible;
}

.cond-list {
  margin-left: 5px;
  display: block;
}

.cond-list li {
  height: 50px;
}

.cond-list li span {
  margin-left: 10px;
}

.cond-list li b {
  margin-left: 10px;
}

.txt-impt {
  color: #C00;
  margin-right: 5px;
}

.circle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.select-error > div:nth-child(1) {
  border-color: #a94442; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.type-abb {
  background-color: #ffffff;
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 0 5px 0 5px; 
  margin-right: 5px;
}

.page-button:hover { cursor: pointer }

.cond-bar {
  background-color: #f5f5f5;
  vertical-align: middle;
  padding: 6px 6px 6px 10px;
  margin: 10px 0px 10px 0px;
  border: 1px #ccc solid;
  border-radius: 4px;
}

.cond-bar .remove-icon {
  opacity: 0 !important;
  margin-left: 5px;
}

.cond-bar:hover .remove-icon{
  opacity: 1 !important;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

.searcher {
  margin-left: 15px;
}

.searcher .remove-icon {
  opacity: 0 !important;
  margin-left: 20px;
}

.searcher:hover .remove-icon{
  opacity: 1 !important;
  cursor: pointer;
}

.filepicker.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.animate-dialog {
  overflow-x: hidden;
  overflow-y: auto;
  width: 600px;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.animate-dialog .panel {
  min-height: 100%;
}

.animate-dialog .close {
  margin:1px;
  font-size: 16px;
  width: 25px;
  height: 42px;
  z-index: 1000;
  opacity: 0.8;
}

.animate-dialog .angle {
  margin:1px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
  width: 25px;
  height: 42px;
  z-index: 1000;
  float: right;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
}

.animate-dialog .angle-disable {
  padding: 0px;
  border: 0px;
  font-size: 16px;
  width: 25px;
  height: 42px;
  z-index: 1000;
  float: right;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

.detail-view-blanket {
  opacity: 0.8;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  z-index: 999;
  text-align: center;
}

.detail-loading {
  margin-top: 48%;
}

#content {
  height: 100%;
}

table tr .remove-icon {
  opacity: 0 !important;
}

table tr:hover .remove-icon{
  opacity: 1 !important;
  cursor: pointer;
}

.attachment-content {
  border: 1px solid #f0f0f0;
  height: 223px;
  margin: 0 4px 4px 0;
  padding: 6px 2px;
  width: 200px;
  text-align: center;
}

.attachment-content:hover {
  background-color: #f0f0f0
}

.attachment-thumb {
  cursor: pointer;
  float: none;
  height: 190px;
  margin: 0 auto;
  width: 190px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.attachment-title-container {
  clear: left;
  display: block;
  height: 20px;
  overflow: hidden;
  width: 180px;
}

.attachment-title {
  display: block;
  float: left;
  height: 21px;
  white-space: nowrap;
  width: 180px;
  word-wrap: normal;
}

.attachment-content .remove-icon {
  position: absolute;
  boottom: 0px;
  left: auto;
  right: 15px;
  opacity: 0 !important;
}

.attachment-content:hover .remove-icon{
  opacity: 1 !important;
  cursor: pointer;
}

.comments-inputor {
  margin: 5px;
}

.comments-button {
  cursor: pointer
}

.comments-button:hover {
  color: #337ab7;
}

.comments-edit-button {
  display: none;
}

.panel-heading:hover .comments-edit-button {
  display: block;
}

.reply-region {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ddd;
  background-color: #f5f5f5;
}

.reply-contents {
  list-style: none; 
  margin-bottom: 0px; 
  padding: 0px 0px 10px 0px;
}

.reply-contents-item {
  vertical-align: top; 
  margin-top: 10px; 
  padding-left: 10px; 
  padding-top: 10px; 
  border-top-style: solid; 
  border-top-width: 1px; 
  border-color: #ddd;
}

.reply-item-header {
  font-size: 12px; 
  padding-bottom: 5px;
}

.reply-item-header:hover .comments-edit-button {
  display: block;
}

.table-responsive .table thead th {
  padding: 5px;
}

.table-responsive .table {
  margin-bottom: 10px;
}

.rc-tabs-top {
  border-bottom: 2px solid #fff;
}

.login-panel {
  width: 365px;
  margin: 100px auto;
  border: none;
}

.login-footer {
  border-top: 1px #e8edf3 solid;
  padding: 20px;
  text-align: center;
  line-height: 14px;
  margin-top: 15px;
}

.login-footer a {
  color: #6f6e6b;
}

.login-footer .split {
  display: inline-block;
  height: 14px;
  margin: 0 15px;
  border-left: 1px #e8edf3 solid;
}

.login-form input {
  height: auto;
  margin-top: 25px;
  width: 100%;
  padding: 12px;	
  font-size: 16px;
  line-height: 20px;
}

.login-form button {
  height: auto;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  font-size: 19px;
  font-weight: 600;
  line-height: 20px;
}

.no-avatar {
  width: 28px;
  height: 28px;
  text-decoration: 'blink';
  border-radius: 50%;
}

.big-no-avatar {
  width: 80px;
  height: 80px;
  text-decoration: 'blink';
  border-radius: 50%;
}

.reset-pwd-msg {
  height: 120px;
  font-size: 19px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.brand {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.toc-logo {
  position: absolute;
  left: 54%;
}

.info-col {
  background-color: #f5f5f5;
  vertical-align: middle;
  padding: 8px;
  margin: 10px 0px 10px 0px;
  border: 1px #ccc solid;
  border-radius: 4px;
  line-height: 2;
}

.info-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.info-content {
  display: inline-block;
}

.attachment-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-item {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  opacity: 1;
}

.user-item:hover {
  background-color: #eee;
}

.avatar-edit-container {
  width: 100%; 
  border: 1px dashed rgb(102, 102, 102);
}

.preview-img {
  overflow: hidden;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc; 
}

.upload-img {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  touch-action: manipulation;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.upload-img:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  text-decoration: none;
}

.upload-img input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}

.dragcard {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  backgroundColor: white;
  cursor: move;
  opacity: 1;
}

.dragcard .edit-icon,.dragcard .rm-icon {
  display: none;
  margin-right: 5px;
}

.dragcard:hover .edit-icon,.dragcard:hover .rm-icon {
  display: inline-block;
}

.dragcard:hover {
  background-color: #eee;
}

.filter-dragcard:hover {
  background-color: #fff;
}

/* project */
.cardContainer {
  padding: 0 0 0 15px;
  margin-top: 15px;
}
.card {
  position: relative;
  height: 200px;
  border: 1px solid #eee;
}
.card:hover {
  border: 1px solid #ccc;
}
.card .content {
  position: relative;
  height: 83%;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}
.card .title {
  position: absolute;
  top: 50px;  
  display: inline-block;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  text-align: center;
}
.card .title .name {
  font-size: 19px;
  margin: 0;
}
.card .title .key {
  font-size: 16px;
  margin: 0;
}

.card .status {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
}
.card .leader {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #666;
}
.card .btns {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: none;
}
.card:hover .btns {
  display: block;
}

.menu-active {
  font-weight: 600;
  cursor: default;
}

.color-bar {
  border-top: 13px solid #3c78b5;
  height: 0;
  overflow: hidden;
}

.red-bar {
  border-top: 13px solid #d73a49;
  height: 0;
  overflow: hidden;
}

.green-bar {
  border-top: 13px solid #28a745;
  height: 0;
  overflow: hidden;
}

.exchange-icon {
  color: #5f5f5f;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

.exchange-icon:hover {
  color: #000;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

::-webkit-scrollbar {
	-webkit-appearance: none
}

::-webkit-scrollbar:horizontal {
	height: 11px
}

::-webkit-scrollbar:vertical {
	width: 11px
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.33);
	border: 2px solid #fff;
	border-radius: 8px
}
