
.treeview .list-group-item {
  cursor: pointer;
}

.treeview span {
  width: 1rem;
  height: 1rem;
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px;
}

.treeview span.icon {
  margin-left: 10px;
  margin-right: 5px;
}

.treeview-div {
  position: relative;
  top: 60px; 
  font-size: 16px;
  margin-left: 20px;
  overflow: auto;
  width: 95%;
  height: 70% 
}

.modal-content .ralign {
  margin-right: 20px
}

.modal-content input.disable {
  disabled: true
}

.modal-content input.enable {
  disabled: false 
}

.sidebar-header {
  position: absolute; 
  top: 0px; 
  padding-left: 30px;
  color: #fff  
}

.create-btn {
  margin: 10px 10px 5px 10px;
}

.default-set {
  display: inline-block;
  margin-top: 5px;
  padding-left: 5px;
  vertical-align: middle;
}

.editable-field .edit-icon {
  opacity: 0 !important;
  margin-left: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
}

.editable-field:hover {
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 2px;
}

.edit-field-content {
  display: inline-block;
  margin-right: 2px;
}

.edit-ok-button {
  border-radius: 2px;
}

.editable-field:hover .edit-icon{
  opacity: 1 !important;
  cursor: pointer;
}

.loading {
  width: 24px;
  height: 24px;
  margin: 5px 5px 5px 10px;
}

.hide {
  display: none
}

.react-bs-container-body table tr td {
  height: 55px;
  vertical-align: middle;
  overflow: visible
}

.react-bs-container-body {
  height: 154px;
  overflow: visible;
  width: 100%;
}
