@import 'bootstrap/dist/css/bootstrap';

body {
  padding-top: 100px;
}

/* on dev make redux-devtool always shown */
.navbar-fixed-top {
  z-index: 998;
}

.user-list ul,
.user-list li {
  list-style-type: none;
  padding: 10px 0px;
}

.user-list li {
  padding: 10px 20px;
}

.user-list li img {
  margin-right: 10px;
}
