
.board-container {
  overflow-y: auto;
  table-layout: fixed;
  width: 100%;
}

.board-pool {
  background: #fff;
  overflow-y: auto;
  position: relative;
  display: block;
}

.board-column-header-group {
}

.board-column-header, .board-columns {
  box-sizing: border-box;
  border-spacing: 8px 0;
  display: table;
  list-style: none;
  margin: 0;
  table-layout: fixed;
  width: 100%;
  padding: 0;
}

.board-column-header .board-column {
  box-sizing: border-box;
  border-spacing: 10px 0;
  display: table-cell;
  border-bottom: 5px solid #f5f5f5;
  width: 100%;
  padding: 10px 10px 10px 5px;
}

.board-columns .board-column {
  box-sizing: border-box;
  border-spacing: 10px 0;
  display: table-cell;
  width: 100%;
  padding: 0px;
  background: #f5f5f5;
}

.board-issue {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: move;
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin-top: -1px;
  position: relative;
  min-height: 95px;
}

.board-issue:hover {
  background-color: #eee;
}

.board-issue .board-issue-content {
  min-height: 66px;
  padding: 10px 10px 10px 15px;
}

.type-abb {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 5px;
  margin-right: 5px;
}

.board-avatar {
  width: 32px; 
  height: 32px; 
  border-radius: 4px;
}

.board-zone-overlay {
  position:absolute;
  pointer-events:none;
}

.board-zone-overlay-table {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  border-spacing:8px 0;
  display:table;
  height:100%;
  table-layout:fixed;
  width:100%
}

.board-zone-overlay-column {
  display:table-cell;
  height:inherit;
  vertical-align:top
}

.board-zone-overlay-column .board-empty {
  pointer-events:none
}

.board-zone-table {
  border-spacing:0;
  display:table;
  height:100%;
  table-layout:fixed;
  width:100%
}

.board-zone-row {
  display:table-row
}

.board-zone-cell {
  background:#ebf2f9;
  border:2px dashed #3b73af;
  border-top-color:transparent;
  text-align: center;
  -moz-transition:background 250ms ease-in-out;
  -ms-transition:background 250ms ease-in-out;
  -webkit-transition:background 250ms ease-in-out;
  transition:background 250ms ease-in-out
}

.board-zone-row>:first-child {
  border-top-color:#3b73af
}

.board-zone-cell:hover {
  background:#f3f9f4;
}

.board-overlay-waiting {
  margin-top: 170px;
  opacity: 0.8;
  top: 0;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 999;
  text-align: center;
}

.board-loading {
  margin-top: 80px;
}

.kanban-table-td-title {
  margin-top: 12px;
  display: block;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.config-columns {
  border-collapse: separate; 
  border-spacing: 10px 0; 
  display: table; 
  table-layout: fixed; 
  width: 100%
}

.config-column {
  display: table-cell; 
  padding: 10px; 
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc;
  cursor: move;
  opacity: 1;
}

.config-column .edit-icon,.config-column .rm-icon {
  display: none;
  margin-right: 5px;
}

.config-column:hover .edit-icon,.config-column:hover .rm-icon {
  display: inline-block;
}

.config-column:hover {
  background-color: #fff;
}

.config-column-card {
  border: 1px dashed gray;
  margin-top: 10px;
  padding: 5px;
}

.config-wip {
  font-weight: normal;
  font-size: 12px;
  margin-left: 8px;
}
