html {
  background-color: #eee;
  box-sizing: border-box;
  color: #5f5f5f;
  font-size: 10px;
  height: 100%
}

body,h1,h2,html,p {
  margin: 0;
  padding: 0
}

body {
  font-family: "Helvetica Neue",helvetica,'lucida grande','lucida sans unicode',lucida,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  overflow: hidden; 
}

h1,h2,h3,h4 {
  color: #5f5f5f;
  font-weight: 400;
  letter-spacing: .5px;
}

h1,h2,h3,h4,ol,p,ul {
  margin-bottom: 1.6rem
}

.toc-container h4 {
  font-size: 16px;
}

.toc-container ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0
}

.toc-container ul li {
  padding-left: 1.6rem
}

.toc-container ul li+li {
  padding-top: 1rem
}

.container {
  margin: 0 auto;
  max-width: 1199px
}

html.docs body {
  height: 100%
}

html.docs header {
  padding: 0
}

html.docs .container {
  max-width: 100%
}

html.docs .doc-container {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0px 12px 10px 12px;
  margin-top: 50px;
  height: calc(100% - 50px);
  width: auto;
  -webkit-overflow-scrolling: touch
}

html.docs .doc-container>div>div {
  margin-bottom: 0rem;
  position: relative
}

html.docs .doc-main .head {
  background-color: #f5f5f5;
  width: 100%;
  padding: 7px 0;
  padding-left: 19%;
  font-size: 19px;
  height: 50px;
  line-height: 35px;
  border-bottom: solid 1px #e5e5e5;
  color: #5c5c5c;
  left: 0;
  top: 0;
  z-index: 100;
  position: fixed;
}

html.docs .doc-main .head .show-bar-icon {
  cursor: pointer;
  margin-right: 15px;
  color: #5f5f5f;
}

html.docs .doc-main .head .show-bar-icon:hover {
  color: #000;
}

html.docs .doc-main {
  background-color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

html.docs .hidden {
  display: none
}

html.docs .logo {
  height: 40px;
  width: 40px
}

html.docs .toc-container {
  background-color: #fff;
  float: left;
  height: 100%;
  width: 18%;
  overflow-y: auto;
  padding: 0rem 2.4rem 2.4rem 1.8rem;
  position: fixed;
  right: 0;
  top: 0;
  white-space: nowrap;
  z-index: 1000;
  background-color: #f5f5f5;
  -webkit-overflow-scrolling: touch
}

html.docs .toc-container::-webkit-scrollbar {
  -webkit-appearance: none
}

html.docs .toc-container::-webkit-scrollbar:horizontal {
  height: 11px
}

html.docs .toc-container::-webkit-scrollbar:vertical {
  width: 11px
}

html.docs .toc-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.33);
  border: 2px solid #fff;
  border-radius: 8px
}

html.docs .toc-container.open {
  display: block
}

html.docs .toc-container.open+.doc-container {
  overflow-y: hidden
}

html.docs .toc-container.open+.doc-container:after {
  display: block
}

html.docs .toc-container .span-bar-icon {
  font-size: 19px;
  cursor: pointer;
  float: left;
  color: #5f5f5f;
}

html.docs .toc-container .span-bar-icon:hover {
  color: #000;
}

html.docs .toc-container .span-angle-double {
  font-size: 19px;
  cursor: pointer;
  float: right;
  color: #5f5f5f;
  padding: 0px 5px;
  margin-right: -8px;
}

html.docs .toc-container .span-angle-double:hover {
  color: #000;
}

html.docs .toc-container .span-tack-bar {
  font-size: 19px;
  cursor: pointer;
  float: right;
  color: #5f5f5f;
  margin-right: -8px;
}

html.docs .toc-container .span-tack-bar:hover {
  color: #000;
}

html.docs .toc-container ul {
  border-left: 1px dashed #dcdcdc;
  margin-top: .8rem
}

html.docs .toc-container ul li a {
  border: none;
  color: #5f5f5f;
  text-decoration: none;
  font-size: 1.4rem
}

html.docs .toc-container ul li a:hover {
  color: #000;
  text-decoration: none;
}

html.docs .toc-container h4 a {
  border: none;
  text-decoration: none;
  color: #5f5f5f;
}

html.docs .toc-container h4 a:hover {
  color: #000;
  text-decoration: none;
}

html.docs .toc-container .empty-state {
  color: #bababa;
  margin-top: 2.4rem;
  font-size: 1.4rem
}

html.docs .toc-container .fa-minus-square-o,html.docs .toc-container .fa-plus-square-o ,html.docs .toc-container .fa-th-large {
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 1.1rem
}

@media (min-width:768px) {
  html.docs .toc-container {
    display: block;
    left: 0;
    height: 100%;
    border-right: solid 1px #e5e5e5;
    position: relative 
  }
}

@media (max-width:320px) {
  html.docs h3 a {
    display: none
  }

  html.docs .doc-container {
    padding-left: 3.2rem;
    padding-right: 3.2rem
  }
}

@media (max-width:767px) {
  .logo {
    height: 60px;
    width: 60px
  }
}

@media (max-width:991px) {
  section {
    padding: .8rem 2.8rem
  }
  .container.main {
    margin: 2rem
  }
}

@media (max-width:1199px) {
  html {
    font-size: 8.75px
  }
}
